<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
</head>
<body>
    <section id="container">
        @Html.Partial("_SidebarTopbar")

                    <section id="main-content" style="margin-left:240px; margin-top:105px; margin-right:20px;">
            
                        <section class="wrapper">
                            @RenderBody()
                        </section>
                    </section>
        <!--main content end-->
    </section>
    <!--Section Scripts-->
    
        @Html.Partial("_Scripts")
        @RenderSection("scripts", required: false)
    <!--Section Scripts-->   
</body>
</html>
