
@model IEnumerable<ServiciosDigitalesProy.Models.HistoricoSolicitud>

@{
    ViewBag.Title = " Solicitudes";
    ViewBag.SubSeccion = "Consulta de Historico de la solicitud No: "+ ViewBag.idSolicitud;
}

<style>
    textarea {
        width: 400px;
        height: 70px;
    }
</style>
<h3>@ViewBag.SubSeccion</h3>
<div class="col-lg-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-th-list"></i>@ViewBag.Title</a></li>
        <li class="active"><a href="#">@ViewBag.SubSeccion</a></li>
    </ul>
    <!--breadcrumbs end -->
</div>
<section class="panel">
    <div class="panel-body">
        <div class="tab-content">
            <div id="home-3" class="tab-pane active">
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header>
                            </header>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Histórico
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <table width="100%" class="table table-striped table-bordered table-hover" id="table-inicial">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            <b>Fecha</b>
                                                        </td>
                                                        <td>
                                                            <b>Responsable</b>
                                                        </td>
                                                        <td>
                                                            <b>Descripción</b>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.fecha)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.empleado.nombres) @Html.DisplayFor(modelItem => item.empleado.apellidos)
                                                            </td>
                                                            <td>
                                                                @Html.TextAreaFor(model => item.descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    @Html.ActionLink("Volver", "VerSolicitud",new { id = ViewBag.idSolicitud }, new { @class = "btn btn-primary" })
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </div>
        </div>
    </div>
</section>
@Html.Partial("Partials/_Script")

@if ((string)TempData["mensaje"] != null || (string)TempData["mensaje"] != "")
{
    <script>
        $(function (msg) {
            $.bootstrapGrowl('@((string)TempData["mensaje"])', {
                type: '@((string)TempData["estado"])',
                offset: { from: 'top', amount: 100 }
            });
        });
    </script>
}

