<header class="header white-bg">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a href="~/Home/IndexLogo" class="logo" onclick="location.reload();">
                <img src="@Url.Content("/Xcore/Imagenes/SERVICIOS DIGITALES logo1.png")" title="Servicios Digitales" style="width:inherit;height:80px;margin-top:2px;margin-left: 20px;" />
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>jomuva</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>Jonathan</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>Jonathan</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>*@
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @SessionHelper.GetNombreUsuarioLogueado()<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @*<li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>*@

                    @if (SessionHelper.ExistUserInSession())
                    {
                        <li>
                            <a href="~/home/salir"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                        </li>
                    }
                </ul>
            </li>

        </ul>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#servicios"><i class="fa fa-fw fa-edit"></i> Servicios <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="servicios" class="collapse">
                        <li>
                            @Html.ActionLink("Adicionar Servicio", "AgregarServicio", "Servicios")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Servicios", "ConsultarServicios", "Servicios")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#ventas"><i class="fa fa-fw fa-table"></i> Ventas <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="ventas" class="collapse">
                        <li>
                            @Html.ActionLink("Crear Factura", "CrearFactura", "Ventas")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Facturas", "ConsultarFacturas", "Ventas")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#usuarios"><i class="fa fa-fw fa-dashboard"></i> Usuarios <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="usuarios" class="collapse">
                        <li>
                            @Html.ActionLink("Adicionar Cliente", "AdicionarCliente", "Usuarios")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Clientes", "ConsultarClientes", "Usuarios")
                        </li>
                        @if (ValidadorPermisos.TienePermiso(RolesPermisos.Puede_consultar_empleado))
                        {
                            <li>
                                @Html.ActionLink("Adicionar Empleado", "AdicionarEmpleado", "Usuarios")
                            </li>
                            <li>
                                @Html.ActionLink("Consultar Empleados", "ConsultarEmpleados", "Usuarios")
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#productos"><i class="fa fa-fw fa-desktop"></i> Productos <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="productos" class="collapse">
                        <li>
                            @Html.ActionLink("Adicionar Producto", "InsertarProducto", "Productos")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Productos", "ConsultarProductos", "Productos")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#inventarios"><i class="fa fa-fw fa-bar-chart-o"></i> Inventarios <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="inventarios" class="collapse">
                        <li>
                            @Html.ActionLink("Consultar Inventarios por Sucursal", "ConsultarSucursales", "Inventarios")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Inventario de Productos", "ConsultarInventarios", "Inventarios")
                        </li>
                        @if (ValidadorPermisos.TienePermiso(RolesPermisos.puede_consultar_inventario_bajas))
                        {
                            <li>
                                @Html.ActionLink("Consultar Inventario de Bajas", "ConsultarInventariosBajas", "Inventarios")
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#solicitudes"><i class="fa fa-fw fa-empire"></i> Solicitudes <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="solicitudes" class="collapse">
                        <li>
                            @Html.ActionLink("Consultar Solicitudes", "ConsultarSolicitudes", "Solicitudes")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Elementos", "ConsultarElementos", "Solicitudes")
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->

    </nav>
</header>
